@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #c2cbee;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}


.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-shadow: 2px 2px 1px gray;
	text-align: center;
	padding: 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: -moz-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);
	background-image: -o-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);
	background-image: -ms-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);
	background-image: -webkit-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);

}
/* ------------ CSS POUR LE TABLEAU DE LA BASE DE DONNEES --------------- */

table {

	border: 3px solid darkcyan;
	border-collapse: collapse;
	width: 100%;
	margin: auto;
}

tbody {
	/*background-color: Thistle;*/
	border: 1px solid #6495ed;
}

th, td {
	padding: 10px;
	text-align: left;
	
}


.pied {
	width: 100%;
	height: 60px;
	
	background-image: -moz-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);
	background-image: -o-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);
	background-image: -ms-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);
	background-image: -webkit-linear-gradient(25deg, cyan 0%, dimgray 50%, silver 100%);
}


textarea {
	width: 50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}



a:visited {

	color: blanchedalmond;
}
a:focus {
	color: black;
}

a:hover {
	color: navy;
}